*{margin:0;padding:0;}
body{
	width:980px;
	margin:0 auto;
	
}
header{
	width:980px;	
	background-color:rgb(109,70,39);
	font-size:30px;
	text-align:center;
	padding:40px 0px;
	color:rgb(252,239,205);
}
#main{
	width:980px;
	overflow:hidden;
	background-color:rgb(252,239,205);
}
#left{
	width:250px;
	float:left;
}
#right{
	width:700px;
	float:right;
	background-color:rgb(109,70,39);
	text-align:justify;
	padding:10px;
}

footer{
	clear:both;
	background-color:rgb(109,70,39);
	text-align:right;
	padding:10px 0px;
	color:rgb(252,239,205);
	border-top:1px black solid;
	
}


li{
	display:block;
}
#right > *{
	font-size:24px;
	
}
p{
	
	font-size:24px;
}
#right > h3{
	color:rgb(252,239,205);
	font-size:50px;
	text-align:center;

}